@import "../../scss/var2";
.bg {
  margin-top: 128px;
  background: #8fd1e6 url('../../img/publicationPlan/bg.png') bottom center no-repeat;
  background-size: 100% auto; 
  &.mobile {
    margin-top: 40px;
    .wrap {
      width: 100%;
      padding: 25px 14px;
    }
    :global {
      .ant-tabs-bar {
        border: none;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
        height: 56px;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        padding: 16px 29px;
        border: none;
        border-radius: 0;
        height: 56px;
        line-height: 24px;
        font-size: $font-size-18;
        background-color: $gray-300;
        color: $gray-500;
      }
      .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        color: $white;
        background-color: $primary-4;
      }
    }
  }
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

h2.title {
  color: $secondary-5;
  font-size: $font-size-28;
  text-align: center;
}

.table {
  width: 60%;
  margin: 36px auto 24px;
  border-radius: 10px;
  :global {
    .ant-btn-primary {
      border-radius: 8px;
      width: 108px;
      height: 32px;
      line-height: 32px;
      background-color: $third-4;
      font-size: $font-size-14;
      border-color: $third-4;
      &:hover {
        background-color: $third-3;
        border-color: $third-3;
      }
    }
  }
  tr {
    th,td {
      border: 1px solid $gray-300;
    }
    th {
      background-color: $secondary-5;
      color: $white;
      font-size: $font-size-18;
      font-weight: 500;
      text-align: center;
      padding: 4px;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative;
      .icon {
        position: absolute;
        left: 0;
        top: -21px;
      }
      &:first-child {
        border: none;
        background: none;
        width: 20%;
      }
      &:nth-child(2) {
        background-color: #65c1de;
      }
      &:nth-child(3) {
        background-color: $secondary-3;
      }
    }

    td {
      padding: 14px;
      font-size: $font-size-16;
      font-weight: bold;
      text-align: center;
      color: $primary-4;
      &:first-child {
        color: $secondary-5;
        border-right: 1px solid $gray-300;
        text-align: left;
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        width: 27%;
      }
    }

    &.tr:nth-child(even){
      background: $secondary-1;
    }

    &.tr:nth-child(odd){
      background: $white;
    }
  }
}

.ps {
  color: $gray-500;
  font-size: $font-size-14;
  margin-top: 16px;
  text-align: center;
}

.btnWrap {
  text-align: center;
  margin-top: 24px;
  :global {
    .ant-btn-primary {
      border-radius: 8px;
      min-width: 128px;
      height: 50px;
      line-height: 50px;
      background-color: $third-4;
      font-size: $font-size-20;
      border-color: $third-4;
      &:hover {
        background-color: $third-3;
        border-color: $third-3;
      }
    }
  }
}

.freeBlock {
  margin-top: 30px;
  .header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    text-align: center;
    color: $white;
    font-size: $font-size-24;
    font-weight: 500;
    position: relative;
    &.bg1 {
      background-color:  #65c1de;
    }
    &.bg2 {
      background-color: $secondary-3;
    }
    &.bg3 {
      background-color: $secondary-5;
    }
    .icon {
      width: 111px;
      position: absolute;
      left: -5px;
      bottom: 0;
    }
  }
  .infoWrap {
    border: 1px solid $gray-300;
    padding: 18px 16px;
    background-color: $white;
    li:nth-last-child(1) {
      border-bottom: none;
    }
    .item {
      padding: 8px;
      display: flex;
      border-bottom: 1px solid $gray-300;
      &:first-child {
        padding-top: 0;
      }
    }
    label {
      color: $gray-400;
      width: 40%;
      margin-right: 8px;
    }
    .row {
      color: $primary-4;
      font-size: $font-size-18;
    }
  }
  .array {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    border-bottom: 1px solid $gray-300;
    .list {
      width: 48%;
      display: flex;
      label {
        width: 60%;
        margin-right: 8px;
      }
      &:nth-child(odd) {
        border-right: 1px solid $gray-300;
        margin-right: 8px;
      }
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 8px;
      }
    }
  }
}