@import "../../scss/var";
.dNone {
  display: none !important;
}
.bg {	
  background-color: $white;
  height: 100%;	
}
.pagination {
  text-align: center;
  margin-top: 20px;
  :global {
    .ant-pagination-item-active {
      background-color: $main-2;
      border-color: $main-2;
      a {color: $white;}
    }
  }
}
.wrap {	
  margin: 150px auto;	
  width: 1200px;	
  .topCategory {
    font-size: 14px;
    font-weight: normal;
    display: inline;
  }
  &.mobile {
    width: 100%;

    margin-top: 100px;
    margin-bottom: 50px;
    min-height: calc(100vh - 180px);
    .layout {
      width: 100%;
      margin: 10px auto 0;
    }
    .cardWarp {
      width: 95%;
      margin: 10px auto 0;
    }
    :global {
      .ant-breadcrumb {
        display: none;
      }
    }
    .pagination {
    margin-top: 30px;
    margin-bottom: 40px;
    }
    .noMessage {
      margin-bottom: 40px;
    }
  }
  :global {	
    .ant-layout {	
      background: transparent;	
    }	
    .ant-layout-has-sider {	
      margin-top: 20px;	
    }	
    .ant-breadcrumb-separator {	
      color: $black;	
    }	
    .ant-breadcrumb-link {	
      color: $black;	
      a {	
        color: $black;	
        text-decoration: underline;	
        &:hover {	
          text-decoration: none;	
        }	
      }	
    }	
    .ant-layout.ant-layout-has-sider>.ant-layout, .ant-layout.ant-layout-has-sider>.ant-layout-content {	
      overflow: initial;	
    }	
  }	
}	
.sider {	
  position: relative;	
  background: transparent;	
  width: 240px !important;	
  flex: 0 0 240px !important;	
  max-width: 240px !important;	
  min-width: 240px !important;	
  margin-right: 20px;
  border-radius: 4px;
  .title {
    font-size: $font-size-18;
    color: #000000;
    font-weight: 350;
  }
}	
.layout {	
  width: 940px;	
  position: relative;	
  .title {	
    background-color: $white;	
    padding: 8px 8px 8px 14px;	
    position: relative;	
    font-size: $font-size-16;	
    border-radius: 2px;	
    &.top {	
      position: fixed;	
      top: 60px;	
      z-index: 1;	
      width: 100%;	
    }	
    &:before {	
      position: absolute;	
      left: 0;	
      z-index: 0;	
      content:' ';	
      width: 4px;	
      height: 40px;	
      top:0;	
      background-color: $gray-200;	
    }	
  }
  .noMessage {
    text-align: center;
    font-size: $font-size-16;
  }
}
.contactWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .userName {
    margin-left: 20px;
    font-size: $font-size-16;
    color: $black;
  }
  :global {
    .ant-btn {
      width: 55%;
      margin-right: 20px;
    }
  }
}

.banner {
  margin-top: -39px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .banner {
    margin-top: 105px;
    margin-bottom: 0;
  }
}