<div class="listPage">
  <h1 hidden>高年級找工作：門市店員就業機會</h1>

  <SearchBar
    ref="childComponent"
    @emit-list-data="getChildListData"
  />

  <div class="result" @click="clickClose">
    符合條件共 <b>{{total < 0 ? 0 : total}}</b> 筆結果
  </div>

  <div class="frame" @click="clickClose">
    <div class="tableTTL">
      <div class="tr">
        <div class="td company">職稱/企業</div>
        <div class="td income">薪資/工作時間</div>
        <div class="td location">地點</div>
        <div class="td experience">學經歷</div>
        <div class="td applyBtn"></div>
      </div>
    </div>
    <ResultList
      v-if="total!= 0"
      v-for="item in dataList"
      :key="item.jobHashNo"
      :resultItem="item"
    />
  </div>

  <div class="listPagination" @click="clickClose">
    <div class="inner">
      <b-pagination
        v-model="currentPage"
        limit="5"
        :total-rows="rows"
        :per-page="perPage"
        @change="handlePageChange"
        use-router
      ></b-pagination>
    </div>
  </div>
</div>
