.hrCard {
  position: relative;
  width: 330px;
  height: 510px;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 30px 20px 90px 20px;
  a:hover {
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
    .btn-secondary {
      opacity: 0.8;
    }
  }
  .img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .article {
    color: $gray-600;
    margin-top: 25px;
    font-size: $font-size-24;
    font-weight: 500;
    width: 100%;
    height: 100px;
    line-height: 1.4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .btnWrap {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 90px);
    text-align: center;
    button {
      width:180px;
      height:50px;
      line-height:50px;
      font-size:22px;
      font-weight:bold;
      padding:0;

      img {
        width:25px;
        height:25px;
        margin-left: 5px;
        filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(302deg)
          brightness(105%) contrast(102%);
      }
    }
  }
  .btn-secondary {
    background-color: $block-bg;
    border-color: $block-bg;
    &:hover {
      opacity: 0.8;
    }
    &:focus,
    &.focus {
      box-shadow: none;
    }
  }
  .btn-secondary:not(:disabled):not(.disabled):active:focus,
  .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: $block-bg;
    border-color: $block-bg;
    opacity: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .hrCard {
    width: calc( 100% - 2em ) !important;
    min-height:380px !important;
    height:unset;
    margin: 1em;
    & + .hrCard {
      margin-top: 1em;
    }
    .img {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .article {
      font-size: $font-size-20;
      height: 80px;
    }
    .btnWrap {
      margin-top: 1em;
    }
    .btn-secondary {
      width: 135px;
      height: 40px;
      font-size: $font-size-18;
      img {
        width: 25%;
      }
    }
  }
}
