@import "../../scss/var";
$width: 470px;
.cardWarp {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
  &.mobile {
    margin: 0;
  }
}
.noDataWrap {
  text-align: center;
  margin-top: 20px;
  line-height: 1.8;
  font-size: $font-size-16;
  a {
    text-decoration: underline;
  }
}
.wrap {
  margin: 150px auto 60px;
  background-color: $white;
  min-height: calc(100vh - 130px);
  width: 1200px;
  .topCategory {
    font-size: 14px;
    font-weight: normal;
    display: inline;
  }
  :global {
    .ant-layout {
      background: transparent;
    }
    .ant-layout-has-sider {
      margin-top: 20px;
    }
    .ant-breadcrumb-separator {
      color: $black;
    }
    .ant-breadcrumb-link {
      color: $black;
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .ant-layout.ant-layout-has-sider>.ant-layout, .ant-layout.ant-layout-has-sider>.ant-layout-content {
      overflow: initial;
    }
  }
}

.layout {
  width: 940px;
  .pagination {
    text-align: center;
    margin-top: 40px;
    :global {
      .ant-pagination-item {
        &:hover {
          background-color: $main-2-hover;
          border-color: $main-2-hover;
          a {
            color: $white;
          }
        }
      }
      .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
        background-color: $main-2-hover;
        border-color: $main-2-hover;
        color: $white;
      }

      .ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
            border-color: #d9d9d9;
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
            background-color: $white;
      }
      .ant-pagination-item-active {
        background-color: $main-2;
        border-color: $main-2;
        a {
          color: $white;
        }
        &:hover {
          background-color: $main-2-hover;
          border-color: $main-2-hover;
        }
      }
      .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
        color: $main-2;
      }
    }
  }
}

.mobileWrap {
  margin-top: 100px;
  .pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    :global {
      .ant-pagination-item {
        &:hover {
          background-color: $main-2-hover;
          border-color: $main-2-hover;
          a {
            color: $white;
          }
        }
      }
      .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
        background-color: $main-2-hover;
        border-color: $main-2-hover;
        color: $white;
      }

      .ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
            border-color: #d9d9d9;
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
            background-color: $white;
      }
      .ant-pagination-item-active {
        background-color: $main-2;
        border-color: $main-2;
        a {
          color: $white;
        }
        &:hover {
          background-color: $main-2-hover;
          border-color: $main-2-hover;
        }
      }
      .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
        color: $main-2;
      }
    }
  }
}

.filterWrap {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $white;
  color: $gray-100;
  overflow: auto;
  .header {
    background-color: #f8f8f8;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
  }
  .title {
    font-size: $font-size-22;
  }
}

.stickerMode {
  margin: auto;
  &.stickerMode {
    width: 100%;
  }
}


.banner {
  margin-top: -39px;
  margin-bottom: 16px;
}


@media only screen and (max-width: 768px) {
  .cardWarp {
    margin: auto;
      justify-content: space-between;
    &.mobile {
      margin: auto;
      justify-content: space-between;
    }
  }
  .banner {
    margin-top: 105px;
    width: 100%;
    display: block;
  }
}

