@import "../../scss/var2";

h3.title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 26px;
  color: $black;
  font-size: $font-size-24;
  font-weight: bold;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  &.mobile {
    padding-top: 24px;
  }
  img {
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
}
.wrap {
  padding-top: 10px;
  .slider {
    width: 950px;
    margin: 0 auto;
    :global {
      .slick-track{
        height: 335px;
        overflow: hidden;
      }
    }
    &.join {
      :global {
        .slick-track{
          height: 368px;
          overflow: hidden;
        }
      }
    }
    &.mobile {
      width: 80%;
    }
  }
  :global {
    .slick-next, .slick-prev{
      background-color: $primary-4;
      color: $white;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      background-size: cover;
      background-position: center center;
    }
    .slick-prev {
      background-image: url('../../img/common_v2/icon-arrow-left.png');
    }
    .slick-next {
      background-image: url('../../img/common_v2/icon-arrow-right.png');
    }
    .slick-prev:before, .slick-next:before {
      content: ' ';
    }
  }
}
