@import "../../scss/var2";
.mobile {
  width: 100%;
  margin: 0 auto;
  padding: 60px 16px 122px;
  .block {
    border: 1px solid $gray-300;
    .title {
      font-size: $font-size-18;
    }
    .profileInfo{
      display: block;
      .label {
        font-size: $font-size-16;
        color: $gray-400;
        padding-bottom: 12px;
      }
      .item {
        font-size: $font-size-14;
        display: flex;
        align-items: center;
        :global {
          .MuiSvgIcon-root {
            color: $primary-4;
          }
        }
        + .item {
          margin-top: 8px;
        }
      }
      + .profileInfo {
        margin-top: 24px;
      }
    }
  }
}
.block {
  padding: 24px;
  background-color: $white;
  border-radius: 6px;
  font-size: $font-size-16;
  margin-top: 28px;
  margin-bottom: 28px;
  .title {
    color: $gray-500;
    font-size: $font-size-20;
    font-weight: 500;
    border-bottom: 1px solid $gray-300;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  .info {
    font-size: $font-size-14;
    color: $gray-400;
    &.type {
      font-weight: 500;
      font-size: $font-size-14;
      color: $primary-4;
    }
    + .info {
      margin-top: 8px;
    }
  }
  .profileInfo {
    display: flex;
    align-items: center;
    font-size: $font-size-14;
    
    .label {
      color: $gray-400;
      margin-right: 2%;
    }
    .item {
      color: $gray-500;
    }
    + .profileInfo {
      margin-top: 8px;
    }
  }
  + .block {
    margin-top: 28px;
  }
}