//checkbox 統一樣式
.n-checkbox.n-checkbox--checked .n-checkbox-box,
.n-checkbox.n-checkbox--indeterminate .n-checkbox-box {
    background-color: #ffb400;
}
.n-checkbox.n-checkbox--checked .n-checkbox-box .n-checkbox-box__border,
.n-checkbox.n-checkbox--indeterminate .n-checkbox-box .n-checkbox-box__border {
    border: 1px solid #ffb400;
}
.n-checkbox:hover .n-checkbox-box .n-checkbox-box__border {
    border-color: #ffb400;
}

.n-checkbox.n-checkbox--checked:focus:not(:active) .n-checkbox-box .n-checkbox-box__border,
.n-checkbox.n-checkbox--indeterminate:focus:not(:active) .n-checkbox-box .n-checkbox-box__border {
    border-color: #ffb400;
    box-shadow: 0 0 0 2px rgba(255, 180, 0, 0.3);
}

.n-checkbox:focus:not(:active) .n-checkbox-box .n-checkbox-box__border {
    border-color: #ffb400;
    box-shadow: 0 0 0 2px rgba(255, 180, 0, 0.3);
}

.n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
    color: #ffb400;
    border-color: #ffb400;
}

.n-pagination .n-pagination-item:not(.n-pagination-item--disabled):hover {
    color: #ffb400;
}
//datapicker 統一樣式
.n-button.n-button--primary-type.n-button--tiny-type {
    --color-hover: #ffb400 !important;
    --color-pressed: #ffb400 !important;
    --color-focus: #ffb400 !important;
    --border-hover: 1px solid #ffb400 !important;
    --border-pressed: 1px solid #ffb400 !important;
    --border-focus: 1px solid #ffb400 !important;
}
.n-button.n-button--default-type.n-button--tiny-type {
    --text-color-hover: #ffb400 !important;
    --text-color-pressed: #ffb400 !important;
    --text-color-focus: #ffb400 !important;
    --border-hover: 1px solid #ffb400 !important;
    --border-pressed: 1px solid #ffb400 !important;
    --border-focus: 1px solid #ffb400 !important;
}
