@import "../../scss/_var.scss";
.wrap {
  margin-top: 16px;
}
.info {
  :global {
    .ant-modal-confirm-title {
      font-size: $font-size-18;
      font-weight: 700;
    }
  }
}

.list {
  li + li {
    margin-top: 8px;
  }
}