@import "../../scss/var2";

.nav {
  border: none;
  background: none;
  .wrap {
    display: contents;
  }
  &.mobile {
    width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    .wrap {
      width: 738px;
      display: block;
    }
    .item, .item span {
      font-size: $font-size-16;
    }
    :global {
      .ant-menu-horizontal {
      scroll-snap-type:inline;
      }
      .ant-menu-item, .ant-menu-submenu-title {
        padding: 0 16px;
      }
    }
  }
  :global {
    .ant-menu-horizontal {
      border: none;
      background: none;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected, .ant-menu-horizontal > .ant-menu-item:hover a, .ant-menu-horizontal > .ant-menu-submenu:hover a, .ant-menu-horizontal > .ant-menu-item-active a, .ant-menu-horizontal > .ant-menu-submenu-active a, .ant-menu-horizontal > .ant-menu-item-open a, .ant-menu-horizontal > .ant-menu-submenu-open a, .ant-menu-horizontal > .ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-submenu-selected a{
      color: $gray-500;
      font-weight: 500;
      border-bottom: none;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
      border-bottom: 4px solid $primary-3;
    }
    .MuiSvgIcon-root {
      font-size: $font-size-18;
    }
  }
  .item, .item span {
    font-weight: normal;
    color: $gray-500;
    background-color: $white;
    border-radius: 4px 4px 0 0;
    font-size: $font-size-20;
    vertical-align: middle;
  }
  .item ~ .item {
    margin-left: 2px;
  }
  .item {
    .icon {
      display: flex;
      align-items: center;
      :global {
        .MuiSvgIcon-root {
          margin-right: 8px;
        }
      }
    }
  }
}
