.header {
	height: 58px;
	position: sticky;
	top:0;
	z-index: 1000;
	background-color: $white;
	width: 100%;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.28);

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		height:58px;
		width:100%;
		max-width: 1140px;
		margin:0 auto;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			li {
				font-size: $font-size-18;
				padding:0 0.5em;
				a {
					color: $gray-400;
					font-weight: 500;
					display: block;
					text-decoration: none;
					&:hover {
						color: $gray-500;
					}
				}
				/* exact link will show the primary color for only the exact matching link */
				a.nuxt-link-exact-active {
					display: flex;
					flex-direction: column;
					color: $gray-600;
					height: 58px;
					line-height: 58px;
					border-bottom: 4px solid $primary-5;
				}
			}
		}
	}
}

@media only screen and (max-width: 1159px)
{
	.header {
		padding:0 10px;
	}
}

@media only screen and (max-width: 1023px)
{

}

@media only screen and (max-width: 991px)
{

}

@media only screen and (max-width: 767px)
{
	.header {
		height: 44px;
		.wrap {
			width: 100%;
			height: 44px;
			.nuxt-link-active {
			  width: 55%;
			}
			.nav {
				li {
					padding:0 5px;
					a.nuxt-link-active {
						width: auto;
						height: 44px;
						line-height: 44px;
					}
					a.nuxt-link-exact-active {
						width: auto;
						height: 44px;
						line-height: 44px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 579px)
{
	.header {
		.wrap {
			a img {
				width:180px;
				height:auto;
			}
		}
	}
}
