<div class="tableList">
  <div class="tr">
    <div class="td company">
      <h4>
        <a
          class="link forDesktop"
          :href="`https://www.104-dev.com.tw/job/${resultItem.jobHashNo}?jobsource=50talent`"
          target="_blank"
          >{{resultItem.jobName}}</a
        >
        <a
          class="link forMobile"
          :href="`https://www.104-dev.com.tw/job/${resultItem.jobHashNo}?jobsource=m_careu&app_jobsource=m_50talent`"
          target="_blank"
          >{{resultItem.jobName}}</a
        >
      </h4>
      <h5>{{resultItem.custName}}</h5>
    </div>
    <div class="td income">
      <p>
        {{resultItem.salaryTypeDesc}}
        <span v-show="resultItem.salaryTypeDesc!=='面議'">
          {{moneyFormat(resultItem.salaryLow)}} ~
          {{moneyFormat(resultItem.salaryHigh)}} 元
        </span>
      </p>
      <p>{{workshifts(resultItem.workShiftTypeDesc)}}</p>
      <p>
        <span v-show="resultItem.workNeedShift" class="tags">需輪班</span>
        <span v-show="resultItem.workTime" class="tags"
          >{{resultItem.workTime}}</span
        >
      </p>
    </div>
    <div class="td location">
      <p>
        <img src="~/assets/image/icon/icon_location.svg" />
        <span>{{resultItem.addressAreaDesc}}</span>
      </p>
    </div>
    <div class="td experience">
      <span>{{resultItem.minEduDesc}} | {{resultItem.workExpDesc}}</span>
    </div>
    <div class="td applyBtn">
      <a
        :href="`https://www.104-dev.com.tw/job/${resultItem.jobHashNo}?jobsource=50talent`"
        class="btn btn-outline-primary forDesktop"
        target="_blank"
        >應徵</a
      >
      <a
        :href="`https://www.104-dev.com.tw/job/${resultItem.jobHashNo}?jobsource=m_careu&app_jobsource=m_50talent`"
        class="btn btn-outline-primary forMobile"
        target="_blank"
        >應徵</a
      >
    </div>
  </div>
</div>
