.areaBox {
  width: 63%;
  height: 40px;
  padding-right: 5px;
  font-size: 18px;
  color: $gray-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    text-align: left;
    display: block;
    width: 98%;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
  }
}

.areaArrow {
  border: solid $gray-500;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 2.3px;
  transform: rotate(45deg);
}

@media only screen and (max-width: 767px){
  .areaBox {
    border: 1px solid $primary-5;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}