@import "../../scss/var2";

.cardWrap{
  position: relative;
  margin: 0 10px 20px;	
  display: flex;	
  text-decoration: none;	
  flex-wrap: wrap;	

  &:visited {
    .title {
      color: $visited;
    }
  }
  &:hover {
    .title {
      color: $secondary-4;
    }
  }
    &.mobile {
    margin: 0 auto 20px;
    justify-content: center;
    width: 100%;
    .card {
      width: 90%;
      :global {
        .ant-card-cover {
          width: 100%;
        }
      }
    }
  }
  :global {
    .ant-card-body {
        position: relative;
    }
  }
  .pick {
    position: absolute;
    top: 20px;
    right: 10px;
    svg {
      font-size: 26px;
    }
  }
}

.userInfo {
  width: 100px;
  .author {
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
    .authorName {
      font-size: $font-size-12;
      color: $black;
    }
  }
}
.badgeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  margin-right: -5px;
  img {
    width: 50px;
    cursor: pointer;
    + img{
      margin-left: 4px;
    }
  }
}

.card {
  position: relative;
  width: 300px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  &.stickerMobile {
    width: 275px;
    margin-right: -10px;
    .title {
      width: 88%;
    }
  }
  &:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    .tutor {
      background-color: $secondary-2;
    }
    :global {
      .ant-card-cover {
        img {
          transform:scale(1.25,1.25);
        }
      }
    }
  }
  :global {
    .ant-card-cover {
      border-bottom: 1px solid $gray-300;
      width: 300px;
      height: 170px;
      overflow: hidden;
        img {
          transform:scale(1,1);transition: all .4s ease;
          width: 100%;
          height: 170px;
        }
    }
    .ant-card-actions {
      border-top: none;
      padding: 0 20px;
    }
    .ant-card-actions > li:not(:last-child) {
      border: none;
      text-align: left;
      padding-left: 20px;
    }
    .ant-card-actions > li:last-child {
      text-align: left;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .ant-comment-avatar img {
      width: 38px;
      height: 38px;
    }
    .ant-comment-content-author {
      display: none;
    }
    .ant-comment-content {
      line-height: 1.3;
    }
    .ant-comment-content-detail {
      font-size: $font-size-12;
      color: $gray-400;
      display: flex;
      justify-content: space-between;
    }
    .ant-card-body {
      position: relative;
      padding: 20px 20px 10px;
    }
    .ant-card-actions > li > span {
      cursor: default;
      display: block;
    }
    .ant-card-actions > li > span:hover {
      color: $gray-400;
    }
  }
  .tutor {
    width: 100%;
    height: 4px;
    background-color: $secondary-3;
    position: absolute;
    top:0;
    left: 0;
  }
  .title {
    font-size: $font-size-18;
    font-weight: 400;
    color: $black;
    width : 220px;
    height: 50px;
    display: block;
    text-decoration: none;
    margin: 0;
  }
  .text {
    margin-left: 8px;
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .starWarp {
    float: left;
    display: flex;
    font-size: $font-size-14;
    align-items: center;
    margin-top: 2px;
    svg {
      font-size: $font-size-15;
        color: $third-3;
        line-height: 22px;
    }
    :global {
      .ant-comment-avatar img {
        width: 38px;
        height: 38px;
      }
      .ant-comment-content {
        line-height: 1.3;
      }
      .ant-comment-content-author {
        margin-bottom: 0;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 217px;
        vertical-align: middle;
          span {
            font-size: $font-size-12;
            color: $black;
          }
      }
      .ant-comment-content-detail {
        font-size: $font-size-12;
        color: $gray-400;
      }
    }
    .tutor {
      width: 100%;
      height: 4px;
      background-color: $secondary-3;
      position: absolute;
      top:0;
      left: 0;
    }
    .star {
      color: $third-3;
      margin-right: 4px;
      font-weight: bold;
    }
  }
  .dealCount {
    color: $black;
  }
  .userAttr {
    margin-top: 4px;
    display:flex;
    align-items:center;
    .icon {
      display: inline-block;
      width: 1em;
      line-height: 10px;
      font-size: $font-size-14;
    }
    svg {
      width: 1em;
      height: 1em;
      color: $gray-400;
      font-size: $font-size-14;
    }
  }
  .description {
    margin-top: 8px;
    svg {
      font-size: $font-size-16;
      line-height: 22px;
    }
  }
  .cash {
    float: right;
    font-size: $font-size-18;
    color: $secondary-3;
    .textSmall {
      font-size: $font-size-12;
    }
  }
  .turned {
    font-size: $font-size-14;
    color: $black;
    margin-left: 5px;
  }
  .turnedOk {
    font-size: $font-size-14;
    color: $third-3;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .cardWrap{
    margin: 0 auto 20px;
    width: 49%;
    .card {
      width: 100%;
      :global {
        .ant-card-cover {
          width: 100%;
        }
      }
    }
    &.mobile {
      margin: 0 auto 20px;
      width: 100%;
      > a {
        width: 95%;
      }
      .card {
        width: 100%;
        :global {
          .ant-card-cover {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .cardWrap{
    margin: 0 auto 20px;
    width: 100%;
    .card {
      width: 95%;
      margin: auto;
      :global {
        .ant-card-cover {
          width: 100%;
        }
        .ant-card-body {
          padding: 15px;
        }
      }
    }
    &.mobile {
      margin: 0 auto 20px;
      width: 100%;
      .card {
        width: 95%;
        margin: auto;
        :global {
          .ant-card-cover {
            width: 100%;
          }
          .ant-card-body {
            padding: 15px;
          }
        }
      }
    }
  }
}