
.index {
  // 大圖
  .banner {
    img {
      width: 100%;
      height: auto;
    }
  }

  // 門市人員職場計畫
  .intro {
    width: 100%;
    max-width: 1140px;
    padding: 70px 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 450px;
      padding-right: 40px;

      .tag {
        width: 170px;
        img {
          width: 100%;
        }
      }
      h2 {
        font-size: 34px;
        font-weight: bold;
        line-height: 1;
        color: #868047;
        margin: 15px 0 35px 0;
      }
      p {
        font-size: 18px;
        color: $dark-gray;
      }
    }

    .tags {
      position: relative;
      width: 580px;
      height: 370px;
      overflow: hidden;

      & > div {
        position: absolute;
      }

      .gray1,
      .gray2,
      .gray3 {
        border-radius: 14px;
        background-color: $gb-gray;
      }

      .gray1 {
        z-index: 31;
        top: 0;
        left: 100px;
        width: 205px;
        height: 60px;
      }

      .gray2 {
        z-index: 32;
        top: 130px;
        left: 430px;
        width: 125px;
        height: 35px;
      }

      .gray3 {
        z-index: 33;
        top: 265px;
        left: 315px;
        width: 205px;
        height: 60px;
      }

      .tag1 {
        z-index: 34;
        top: 20px;
        left: 155px;
        width: 310px;
        height: auto;
      }

      .tag2 {
        z-index: 35;
        top: 130px;
        left: 0px;
        width: 310px;
        height: auto;
      }

      .tag3 {
        z-index: 36;
        top: 265px;
        left: 50px;
        width: 310px;
        height: auto;
      }

      .tag4 {
        z-index: 37;
        top: 190px;
        left: 255px;
        width: 310px;
        height: auto;
      }
    }
  }

  // 如何加入計畫、50+人才職場力
  .plan,
  .article {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    .title {
      position: relative;
      height: 40px;
      white-space: nowrap;

      h2 {
        display: block;
        position: absolute;
        font-size: 34px;
        font-weight: bold;
        color: #868047;
        line-height: 40px;
        padding: 0 40px;
        margin: 0;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
      }

      hr {
        width: 100%;
        height: 20px;
        border: 0;
        margin: 0;
        border-bottom: 1px solid #c4c4c4;
      }
    }

    .thisBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: $pumpkin-orange;
      text-decoration: none;
      padding: 0 25px;
      margin: 0 auto 80px auto;
      border-radius: 25px;
      border: 1px solid $pumpkin-orange;

      img {
        margin-left: 5px;
        filter: invert(73%) sepia(60%) saturate(6953%) hue-rotate(1deg)
          brightness(104%) contrast(104%);
      }

      &:hover {
        color: #fff;
        background-color: $pumpkin-orange;

        img {
          filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(302deg)
            brightness(105%) contrast(102%);
        }
      }
    }
  }

  // 如何加入計畫
  .plan {
    .flow {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      max-width: 1020px;
      margin: 0 auto;
      padding: 60px 0;

      .step {
        position: relative;
        width: 310px;

        .pic {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 110px;
          margin-bottom: 35px;
        }

        .subttl {
          font-size: 32px;
          padding-left: 10px;
          margin-bottom: 15px;

          span {
            display: block;
            font-size: 22px;
          }
        }

        &.s1 .subttl {
          border-left: 7px solid #dfe9ff;
        }

        &.s2 .subttl {
          border-left: 7px solid #eae8d4;
        }

        &.s3 .subttl {
          border-left: 7px solid #fde0de;
        }

        p,
        ul li {
          font-size: 18px;
          line-height: 30px;
        }

        p {
          margin-bottom: 5px;
        }

        ul li img {
          vertical-align: baseline;
        }

        ul li {
          margin-left: 24px;
          list-style-image: url(~/assets/image/icon/icon_hook.svg);
        }
      }
    }
  }

}

@media only screen and (max-width: 1159px) {
  .index {
    .intro {
      padding: 70px 10px;
      .tags {
        zoom: 0.85;
      }
    }
    .plan {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 991px) {
  .index {
    .intro {
      display: block;

      .text {
        width: 580px;
        padding: 0;
        margin: 0 auto;
      }

      .tags {
        zoom: 1;
        margin: 0 auto;
      }
    }
    .plan {
      .flow {
        .step {
          width: 33%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
	.index {
		.plan {
			.flow {
				display:block;
				.step {
					width:100%;
					max-width:330px;
					margin:10px auto 50px auto;

					.pic {
						position: absolute;
						top:0;
						right:0;
						display:block;
						width:60px;
						height:unset;

						img {
							width:100%;
							height:auto;
						}
					}
				}
			}
		}
		.intro {
			.text , .tags {
				width:100%;
			}
		}
	}
}

@media only screen and (max-width: 579px)
{
	.index {
		.banner {
			position: relative;
			overflow:hidden;
			height:260px;
			img {
				position: absolute;
				width:auto;
				height:260px;
				left:50%;
				transform:translateX(-50%);
			}
		}
		.intro {
			position: relative;
			overflow:hidden;
			padding:35px 10px 60px 10px;
			height:570px;
			.text {
				width:100%;
				h2 {
					font-size:28px;
					margin:15px 0 20px 0;
				}
			}
			.tags {
				position: absolute;
				zoom: 0.65;
				left:50%;
				transform:translateX(-50%);
			}
		}
		.plan , .article {
			.title {
				h2 {
					font-size:28px;
					padding:0 20px;
				}
			}
			.thisBtn {
				width:205px;
				height:45px;
				font-size:20px;
			}
		}
		.plan {
			.flow {
				padding-bottom:0;
			}
		}
	}
}