<div class="list">
  <h1 hidden>高年級人力銀行 搜尋結果</h1>

  <SearchBar
    ref="childComponent"
    onclickSearch="onclickSearch"
    @emit-list-data="getChildListData"
    @emit-body-params="getBodyParamData"
  />

  <div class="result" @click="clickClose">
    符合條件共 <b>{{total}}</b> 筆結果
  </div>

  <div class="frame" @click="clickClose">
    <div class="tableTTL">
      <div class="tr">
        <div class="td company">職稱/企業</div>
        <div class="td income">薪資/工作時間</div>
        <div class="td location">地點</div>
        <div class="td experience">學經歷</div>
        <div class="td applyBtn"></div>
      </div>
    </div>
    <div v-if="total!= 0" v-for="item in dataList">
      <ResultList
        :addressAreaDesc="item.addressAreaDesc"
        :custName="item.custName"
        :jobHashNo="item.jobHashNo"
        :jobName="item.jobName"
        :minEduDesc="item.minEduDesc"
        :salaryTypeDesc="item.salaryTypeDesc"
        :salaryLow="item.salaryLow"
        :salaryHigh="item.salaryHigh"
        :workShiftTypeDesc="item.workShiftTypeDesc"
        :workExpDesc="item.workExpDesc"
        :workTime="item.workTime"
        :workNeedShift="item.workNeedShift"
      />
    </div>
  </div>

  <div class="listPagination" @click="clickClose">
    <div class="inner">
      <b-pagination
        v-model="currentPage"
        limit="5"
        :total-rows="rows"
        :per-page="perPage"
        @change="handlePageChange"
        :number-of-pages="10"
        use-router
      ></b-pagination>
    </div>
  </div>
</div>
