<div class="searchBar">
  <div class="title">查門市工作</div>

  <div class="inputBorder" :class="{ open : isMobileOpenSearchActive }">
    <div class="inner">
      <AreaBox v-on:areasVal="getAreas" />
      <div class="line"></div>
      <select name="search_job" v-model="jobTypeOpt">
        <option value="0">全部工作</option>
        <option value="2">無經驗可</option>
        <option value="3">兼職</option>
        <option value="4">月薪</option>
        <option value="1">中高齡限定</option>
      </select>
    </div>
    <b-button
      @click="onclickSearch(jobTypeOpt)"
      class="btn btn-primary forMobile"
      >搜尋</b-button
    >
  </div>
  <b-button
    @click="onclickSearch(jobTypeOpt)"
    class="btn btn-primary forDesktop"
    >搜尋</b-button
  >
  <div class="fakeInupt forMobile" @click="isMobileOpenSearch">
    <span>想找什麼門市工作？</span>
    <img src="~/assets/image/icon/icon_search.svg" />
  </div>
</div>
