* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    h2 {
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
}

.App-link {
    color: #61dafb;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    + .list {
        border-top: 1px solid #666;
        margin-top: 10px;
        padding-top: 10px;
    }
    li {
        padding: 10px;
        cursor: pointer;
        &.active {
            background-color: white;
            border-radius: 5px;
            color: #282c34;
        }
    }
}
