<div class="card">
  <b-link href="#">
    <img
      class="label"
      src="../../../assets/image/findTalent/label-2.png"
      alt="嚴選人才"
    />
    <div class="profileWrap">
      <b-img
        src="../../../assets/image/findTalent/head-img.png"
        width="78px"
        alt="Fluid image"
        rounded="circle"
      ></b-img>
      <div class="userInfo">
        <div class="userName">王高齡<span class="gender">女士</span></div>
        <div class="info">56歲｜大學(專)</div>
      </div>
    </div>
    <div class="bg">
      <ul class="category">
        <li>
          <span>門市/店員/專櫃人員</span
          ><span class="experience">10年以上</span>
        </li>
        <li>
          <span>售票/收銀人員</span><span class="experience">10年以上</span>
        </li>
      </ul>
      <div class="badges">
        <b-badge pill variant="light">體力好</b-badge>
        <b-badge pill variant="light">電腦基本操作</b-badge>
        <b-badge pill variant="light">會英文</b-badge>
        <b-badge pill variant="light">具銷售能力</b-badge>
        <b-badge pill variant="light">會英文</b-badge>
        <b-badge pill variant="light">有專業證照</b-badge>
      </div>
    </div>
  </b-link>
</div>
