
.breadcrumb-header {
    font-size: 14px;
    font-weight: normal;
    display: inline;
    color: (0, 0, 0, .45);
}

.test-account-form {
    margin-top: 40px !important;
    .account-field {
        width: 200px !important;
        margin-right: 10px !important;
    }    
}
