@import "../../scss/var";

.wrap {
  padding-bottom: 16px;
  border-bottom: 1px solid  $gray-200;
  margin-bottom: 16px;
}

.tag {
  border-radius: 4px;
  background-color: $gray-200;
  color: $gray-300;
  font-size: $font-size-12;
  padding: 4px 6px;
  display: inline-block;
  &.active {
    background-color: $black;
    color: $white;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent $gray-200;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  &.active {
    border-color: transparent transparent transparent $black;
  }
}