@import "../../scss/var2";
@import "./Card.scss";

.card + .card {
  @include cardSpace('other');
}

.status {
  margin-top: 8px;
}

.footer {
  padding-top: 8px;
  .dateInfo {
    display: flex;
    justify-content: flex-start;
    font-size: $font-size-14;
    color: $gray-500;
    .infoNo + .infoNo {
      margin-left: 10px;
    }
    .reject {
      color: $danger;
      font-weight: 500;
    }
    .read {
      color: $gray-500;
      font-weight: 500;
    }
  }
  .btnWrap {
    text-align: right;
    button {
      width: 140px;
      margin: 6px;
    }
  }
}

.error {
  color: $danger;
}

@media only screen and (max-width: 768px) {
  .footer {
    .dateInfo {
      display: block;
      .infoNo + .infoNo {
        margin-top: 8px;
        margin-left: 0;
      }
    }
    .btnWrap {
      text-align: center;
      padding-top: 8px;
    }
  }
}