
.breadcrumb-header {
    font-size: 14px;
    font-weight: normal;
    display: inline;
    color: (0, 0, 0, .45);
}

.dsItem + .dsItem {
    margin: 10px auto;
}

.w150 {
    width: 150px !important;
}

.w100 {
    width: 100px !important;
}

.w50 {
    width: 50px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.date-picker {
    margin-left: 20px !important;
}

