
// :global {
//     .ant-card-body {
//         display: table;
//         border-collapse: separate;
//         border-spacing: 20px;
//     }
// }
.group {
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    .field {
        display: table-row;
        .fieldName {
            margin-right: 20px;
            display: table-cell;
            vertical-align: top;
            padding-right: 100px;
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
        }
        .fieldContent {
            display: table-cell;
            vertical-align: top;
            :global {
                .ant-btn {
                    margin: auto 10px;
                }
            }
        }
    }
}
